/*CSS選擇器類型有 元素(p) , id , class   
選擇器的等級 id > class > 元素*
行內套用的元素> 內部載入 > 外部載入/

p { /*P 是選擇器*/
    color:red; /*改變顏色*/
    font-size: 18px; /*改變字體大小，單位是18px*/
}

/*Css讀取是由上而下，如果是同等級的選擇器，以最後的為主*/

h1{
    color:blue; /*宣告h1字體顏色變成藍色*/
}
h1{
    color:red; /*宣告h1字體變成紫色*/

    /*字體最後會變紫色，原因是同級的選擇器，會以後者為主*/
}


/* # 開頭代表尋找id的選擇器/*/
/* 他會與html 標籤 id="myheading" 對應*/
#myheading{
    font-size: 48px;
}

/*用小數點開始class選擇器*/
.colorgray{
    color:gray;
}